* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
