* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #140c0b;
  color: white;
}

#logo {
  height: 50px;
  padding-right: 3rem;
}

#album-img {
  height: 200px;
}

.nav-lists {
  display: flex;
  gap: 80px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
  font-weight: bold;
}

#main {
  background-color: #0e0e0e;
  color: white;
}
